.section {
	border: 1px solid #abb9c780;
	margin: 1rem;
	border-radius: 6px;
}

.section-label {
	font: 0.9em 'Open Sans', sans-serif;
	padding: 0.5rem 1rem;
	color: #abb9c7;
}

.section-input {
	padding: 0.5rem 2rem 0.5rem 1rem;
	outline: none;
	width: 100%;
}

.section-input-error {
	padding: 0.5rem 2rem 0.5rem 1rem;
	outline: none;
	width: 100%;
	background: #fce4e4;
	border: 1px solid #cc0033;
	border-radius: 6px;
}

.section-input::placeholder {
	font: 1em 'Open Sans', sans-serif;
	color: #413e4d;
}
