.ornament-right {
	position: absolute;
	top: 0;
	right: 0;
	background: url('../assets/img/ornament.svg') no-repeat left bottom;
	background-size: 100%;
	width: 400px;
	height: 250px;

	@media (max-width: 900px) {
		display: none;
	}
}

.ornament-left {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url('../assets/img/ornament.svg') no-repeat top right;
	background-size: 100%;
	width: 300px;
	height: 150px;

	@media (max-width: 900px) {
		display: none;
	}
}

.main {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: auto;
	padding-top: 4rem;
}

.logo {
	width: 65%;
	margin: auto;
}

.article {
	box-shadow: 0px 0px 16px #00000029;
	border-radius: 12px;
	padding: 0.5rem;
	margin: 2rem;
}

.title {
	font: bold 2.5em 'Open Sans', sans-serif;
	color: #413e4d;
	margin-top: 1.5rem;
	text-align: center;
}

.sub-title {
	font: 1em 'Open Sans', sans-serif;
	color: #413e4d;
	margin-top: 0.5rem;
	text-align: center;
}

.span {
	font: 0.75em 'Open Sans', sans-serif;
	color: #413e4d;
	margin-top: 2rem;
	text-align: center;
}
